.Home-sidebar{
  background-color: #4757a6;
  border: 2px solid #324396;
}

.Home-sidebar-button:hover{
  transform: scale(1.1);
}

.Home-key{
  margin-top: 90px;;
  border: 1px solid black;
}
.Key-hover:hover{
  transform: scale(1.1);
}

.Home-key-box{
  margin-left: 45px;
  float: left;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  clear: both;
  margin-right: 5px;
}
.Home-key-box-one{
  background-color: #4f72db;
}
.Home-key-box-two{
  background-color: #2a56db;
}
.Home-key-box-three{
  background-color: #063ad6 ;
}
.Home-key-box-four{
  background-color: #0731ad;
}
.Home-key-box-five{
  background-color: #04278f;
}
.Home-key-box-six{
  background-color: #031b61;
}

.Home-key-box-seven{
  background-color: #031340;
}

.Key-hover:hover{
  transform: scale(1.1);
}