.Home-key-Box-one{
    background-color: #adb9db;
  }
  .Home-key-Box-two{
    background-color: #93a6db;
  }
  .Home-key-Box-three{
    background-color: #6e87cc ;
  }
  .Home-key-Box-four{
    background-color: #5471bf;
  }
  .Home-key-Box-five{
    background-color: #3a5dba;
  }
  .Home-key-Box-six{
    background-color: #2048b3;
  }
  .Home-key-Box-seven{
    background-color: #0531a6 ;
  }
  .Home-key-Box-eight{
    background-color: #062475;
  }
  .Home-key-Box-nine{
    background-color: #061745;
  }
  .Home-key-Box-ten{
    background-color: #020817;
  }

